.form-control{
    border-radius: 10px;
    margin-left: 25px;
    width: 37.5rem;
}
.search-icon{
    z-index: 10;
    position: absolute;
    right: 46%;
    color: rgba(66, 66, 248, 0.959);
    top: 31%;
}